PORT = 'Port Number you want to run your server on or leave it blank for default 4000'
MONGO_URL = ' mongodb connection string, e.g. mongodb://localhost:27017'
FRONTEND_URL = 'Url of your frontend, e.g. http://localhost:5173 or leave it blank for default http://localhost:5173'